@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #e8e8e8;
  --foreground: #494949;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8e8e8;
    --foreground: #595959;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif;
}


